extends tournament

block tournament_content
  if tournament.data.description
    h1 #{tournament.data.description}
  else
    h1 #{tournament.data.id}

  if tournament.passwordIsCorrect()
    p You are a manager of this tournament. You may upload new rounds, change the tournament title, and change the look+feel of the tournament's page.
    ul
      li
        a(href="/tournaments/#{tournament.getId()}/upload") Upload a new round
  if tournament.getActiveUpload()
    h2 Round information
    h3 Last Update
    p The tournament information was last updated #[span.fromNowDate #{tournament.getActiveUpload().date}] (#[span.localDate #{tournament.getActiveUpload().date}]).
    if precomputedPlayerList.length > 0
      h3 Roster
      ol
        each player in precomputedPlayerList
          li= player.name
  else
    p.information No round is currently active.
  code= tournamentAsString
